/*==========================================================
                        GLOBAL
============================================================*/
:root{
    --blackfirst:#000000;
    --blackClaro:#222222;
    --blue-black:#3C415E;
    --blue-transparente:#3c415eda;
    --blue-claro:#47597E;
    --blue-white: #DBE6FD;
    --granate: #8B1F05;
    --gold:#B2AB8C;
    --grey-primario1: #F3F3F3;
    --grey-primario2:#2D2F40;
    --white:#FFFFFF;
    --font-principal:sans-serif;
    --font-logo: 'Orelega One', cursive;
    --font-secundario: 'Oswald', sans-serif;
    --font-terciaria: 'Raleway', sans-serif;
    --font-parrafo:'Poppins', sans-serif; 
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
.container{
    width: min(95%, 120rem);
    margin: 0 auto;
}
img{
    max-width: 100%;
    object-fit: cover;
}
/* ===== utilidades =====*/
.no-padding{
    padding: 0;
}
/* ==================================== 
                HEADER 
======================================= */
.header{
    margin-top: -1rem;
    padding: 1rem 0 1rem 1rem;
}
.header__nombre{
    width: 60%;
}
.header__nombre:hover{
    filter: opacity(0.7);
}
.container-nav-responsive{
    display: none;
    font-family: var(--font-principal);
    position: absolute;
    z-index: 999;
    background-color:var(--blue-black);
    width: 100%;
    margin-top: 1.1rem;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.contanier-logo-menu{
    display: flex;
}
.navegacion__item,.contacto__item,.redes__enlace,
.submenu__lista{
    padding: 1.3rem 0 1.3rem 0.5rem;
}
.navegacion__item{
    padding-left: 0;
}
.navegacion__item i{
    margin-right: 0.5rem;
    font-size: 2.5rem;
}
.navegacion__items a,.contacto__item a,.redes__enlace a{
    color: white;
    font-size: 1.6rem;
    text-shadow:0 1px 4px 6px #808080;
}
.navegacion__items a:hover,
.contacto__item a:hover,
.redes__enlace a:hover{
    color:var(--gold);
}
.submenu__lista{
    padding: 0.5rem 0 0.5rem 0;
}
.submenu__lista a{
    font-size: 1.4rem;
    margin-left: 3rem;
}
.submenu__lista a:before{
    content: "\2771";
    margin-right: 0.8rem;
    font-size: 1.8rem;
}
.contacto__item{
    display: flex;
    margin-left: 2.5rem;
}
.contacto__item i{
    margin-right: 1rem;
}
.redes{
    display: flex;
    margin-left: 2.5rem;
}
.redes__enlace i{
    font-size: 2rem;
    padding: 1.2rem;
}
.navegacion-mostrar{
    display: block;
}
@media(min-width:768px){
    .container-header{
        padding: 0;
    }
    .header{
        display: grid;
        grid-template-columns: 28% 72%;
        padding: 0;
    }
    .contanier-logo-menu{
        grid-column: 1 / 2;
    }
    .header__nombre{
        width: auto;
        display: grid;
        place-self: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container-nav{
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 0;
        position: initial;
        margin-top: 0;
        width: 100%;
        padding: 0;
    }
    .navegacion{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        /* justify-self: flex-start; */
    }
    .navegacion-contenido i{
        display: none;
    }
    .navegacion__items{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .navegacion__item{
        display: block;
        width: 16vw;
        text-align: center;
        
        padding:0;
        position: relative;
        margin-bottom: 0.3rem;
    }
    .navegacion__item:hover{
        border-bottom: 2.5px solid #B2AB8C;
    }
    .navegacion__item a{
        display: block;
        font-size: 1.7vw;
        padding: 1rem;
    }
    .item-content{
        position: absolute;
        width: 25rem;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
    }
    .navegacion__item:hover .item-content{
        visibility: visible;
        opacity: 1;
    }
    .contacto__item{
        margin-left: 0;
        padding: 0;
    }
    .navegacion__items:hover,
    .contacto__item:hover,
    .redes__enlace:hover{
        background-color: transparent;
    }
    .contacto{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    .contacto a{
        font-size: 1.5vw;
    }
    .contacto a:hover{
        color: var(--white);
        font-weight: bold;
    }
    .redes{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .redes__enlace{
        padding: 0;
    }
    .redes__enlace i{
        margin-bottom: 0;
    }
    .submenu__lista{
        background-color: var(--white);
        padding: 0;
        margin: 0;
    }
    .submenu__lista a{
        color:var(--blue-black);
        border: 2px solid green;
        margin-left: 0;
        text-align: left;
    }
}
@media(min-width:1200px){
    .header{
        grid-template-columns: 20% 80%;
    }
    .navegacion{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .contacto{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .redes{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .container-nav{
        padding-top: 1rem;
        padding-right: 1rem;
        grid-template-columns: 85% 15%;
    }
}
/* ==================================== 
            ESTILO ACORDEÓN 
======================================= */
.item-content{
    overflow: hidden;
    max-height: 0rem;
    opacity: 0;
    margin-left: -0.5rem;
}
.active + .item-content{
    max-height: 1000px;
    padding: 0;
    opacity: 1;
}
.btn-item.active{
    color: var(--gold);
}
.btn-item:after{
    content:"\2771";
    float: right;
    margin-right: 2rem;
    margin-top:1.1rem;
}
.btn-item.active:after{
    content:"\2207";    
    margin-right: 2rem;
}
@media(min-width:768px){
    .btn-item:after{
        display: none;
    }
}
/* ==================================== 
            BOTON MENÚ 
======================================= */
.menu{
    width: 40%;
    display: grid;
    justify-content:end;
    place-self: center;
    font-size: 6vw;
    margin-right: 1rem;
}
.menu i{
    border: 1px solid var(--granate);
    padding: 0.5vw 1vw;
    cursor: pointer;
    color: var(--granate);
}
.menu i:hover{
    color: #8b2005cb;
    border: 1px solid #8b2005cb;
}
@media(min-width:442px){
    .menu{
        font-size: 3rem;
        top: 2rem;
    }
    .menu i{
        padding: 0.5vw 1vw;
    }
}
@media(min-width:576px){
    .menu{
        font-size: 3.2rem;
        top: 2.8rem;
    }
}
@media(min-width:768px){
    .menu{
        display: none;
    }
}
/* ==================================== 
                SCROLL ESTÁTICO 
======================================= */
.fijo{
    position: fixed;
    top: 0;
    box-shadow: 0 .3rem .4rem #808080;
    background-color: rgba(238, 236, 236, 0.877);
    z-index: 999;
}
@media(min-width: 768px){
    .fijo .container-nav{
        background-color: rgba(12, 12, 12, 0.76);
    }
}
/* ==================================== 
                BANNER 
======================================= */
.banner{
    position: relative;
}
.banner-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    top: 0;
}
.caption h1{
    margin-top: 2rem !important;
}
.boton-banner{
    border: 2px solid var(--granate);
    background-color: var(--white);
    text-shadow: 1px 4px 10px var(--blue-black);
    color: var(--granate);
    width:90%;
    font-family: var(--font-terciaria);
    padding: .980rem .450rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out .6s;
}
.boton-banner:hover{
    background-color: var(--blue-transparente);
    color: var(--gold);
    border: 2px solid var(--gold);
}
@media(min-width:576px){
    .boton-banner{
        width:50%;
    }
}
@media(min-width:600px){
    .boton-banner{
        width:40%;
        margin-top: 2rem;
    }
}
@media(min-width:768px){
    .boton-banner{
        width:25%;
    }
}
@media(min-width:992px){
    .boton-banner{
        width:20%;
        padding: 1.5rem 1rem;
        font-size: 1.7rem;
    }
}

/* ==================================== 
            MAIN - SECTION 
======================================= */
h2{
    font-size: 5vw;
}
.section-main{
    font-family:var(--font-parrafo);
}
.section-main__titulo{
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0 2rem 0; 
}
.section-main__texto{
    text-align: justify;
    line-height: 1.4;
    font-size: 4vw;
    font-weight: 300;
}
.titulo-practica{
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0 2rem 0;
}
.article{
    margin-bottom: 1.5rem;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    overflow: hidden;
    position: relative;
}
.article:hover{
    border: 1px solid rgba(173, 173, 173, 0.425);
    box-shadow: 0px 1px 5px rgba(158, 158, 158, 0.534);
}
.figure__texto{
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    transform: translateY(100%);
    transition: transform ease .2s;
    bottom: 0;
    color: var(--white);
    padding-top: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: 100%;
}
.article:hover  .figure__texto{
    transform: translate(0%);
    height: 100%;
    bottom: 4.8rem;
}
.figcaption__titulo{
    text-align: center;
    background: none;
    padding: 1.5rem 0;
    font-size: 3.5vw;
    font-weight: bold;
    font-family: var(--font-secundario);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.figcaption__titulo-btn {
    color: var(--granate);
}
.figcaption__titulo-btn::before {
    content: "";
    background: var(--blue-black);
    bottom: 0;
    right: 50%;
    width: 0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.figcaption__titulo-btn:hover::before {
    border-radius: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.figcaption__titulo-btn:hover {
    color: var(--white);
    font-weight: bold;
    text-shadow:1px 4px 10px #4b4949;
    border: none;
}
@media(min-width: 401px){
    .figure__texto{
        font-size: 1.2rem;
        padding-top: 12rem;
    }
    .article:hover  .figure__texto{
        bottom: 4.7rem;
    }
    .figcaption__titulo-btn{
        font-size: 1.2rem !important;
    }
}
@media(min-width:442px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
    .article__titulo{
        font-size: 2.2vw;
        margin-right:0;
        margin-left: 0;
    }
}
@media(min-width:576px){
    .figure__texto{
        font-size: 1.5rem;
        padding-top: 14rem;
    }
    .article:hover  .figure__texto{
        bottom: 5rem;
    }
    .figcaption__titulo-btn{
        font-size: 1.5rem !important;
    }
}
@media(min-width:660px){
    .figure__texto{
        font-size: 1.6rem;
        padding-top: 15rem;
    }
}
@media(min-width:768px){
    h2{
        font-size: 2.5rem;
    }
    .section-main__titulo{
        margin-top: 3rem;
        padding: 3rem 0 2rem 0; 
    }
    .section-main__texto{
        font-size: 1.5rem;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
    .figure__texto{
        font-size: 1.3rem;
        padding-top: 12rem;
    }
    .article:hover  .figure__texto{
        bottom: 5.3rem;
    }
    .figcaption__titulo{
        font-size: 1rem;
    }
    .figcaption__titulo-btn{
        color:var(--blue-black);
    }
    .figcaption__titulo-btn::before {
        content: "";
        background: var(--granate);
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
    }
    .figcaption__titulo-btn:hover::before {
        width: 100%;
        height: 100%;
        transition: 0.4s;
    }
    .figcaption__titulo-btn:hover {
        color: var(--white);
        border: none;
    }
}
@media(min-width:900px){
    .figure__texto{
        font-size: 1.5vw;
        padding-top: 14rem;
    }
}
@media(min-width:992px){
    .article:hover  .figure__texto{
        bottom: 5rem;
    }
}
@media(min-width:1200px){
    .figure__texto{
        padding-top: 17rem;
    }
    .figcaption__titulo-btn::before {
        background: var(--blue-black);
    }
}

